/admin/vendor
/admin/storage/framework/views/*
/admin/storage/framework/sessions/*
/admin/storage/framework/cache/*
/admin/storage/logs/*
/admin/node_modules
/admin/.env
/admin/.env.backup
/admin/database/database.sqlite
/admin/.fleet
/admin/.idea
/admin/.vscode
/admin/public/build
/admin/public/hot
/admin/public/storage
/admin/public/uploads

/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
composer.lock
analizar.jpeg
